@import 'general';
@import 'base/media';


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Exo 2.0', sans-serif;
    font-family: 'Trebuchet MS', sans-serif;
}




